<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stimulus %><br />
    <%= f.text_area :stimulus %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :param1 %><br />
    <%= f.number_field :param1 %>
  </div>
  <div class="field">
    <%= f.label :param2 %><br />
    <%= f.number_field :param2 %>
  </div>
  <div class="field">
    <%= f.label :number_response %><br />
    <%= f.number_field :number_response %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
