<h1>Listing questions</h1>

<table>
  <tr>
  	<th>Id</th>
    <th>Stimulus</th>
    <th>Image url</th>
    <th>Param1</th>
    <th>Param2</th>
    <th>Number Response</th>
    <th>Playground</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
  	<td><%= question.id %></td>
    <td><%= question.stimulus %></td>
    <td><%= question.image_url %></td>
    <td><%= question.param1 %></td>
    <td><%= question.param2 %></td>
    <td><%= question.number_response %></td>
    <td><%= question.playground_id %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
