<div id="container">

	<div id="header">
	
		<div id="main_page" align="center">
			<h4>Welcome to the game board!</h4>
		</div> 
			
	</div>
	
	<div id = "login">
		<%= form_tag("/login", :method => "post") do %>
		<%= label_tag(:name, 'Name:') %>
	  	<%= text_field_tag(:name) %>
	  	<%= label_tag(:password, 'Password:') %>
	  	<%= password_field_tag(:password) %>
	  	<%= submit_tag("Log In") %>
		<% end %>
	</div>

	<div id="question_pane">
	
	</div>

	<div id="sidebar">
	
		<div id = "player">
			<%= render @player %>
		</div>

	</div>
	
	<div id = "playground">
		
	</div>
	
</div>
<div id="state">0</div>


	