<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Welcome to the game board!</h1>
  
<p>
Players:	
</p>
<table>
	<div class="players">
		<%= render @players %>
	</div>
</table>
<p>
<div>
	<%= button_to 'Add to Playground', game_players_path(player_id: @player), remote: true %>	
<div>
</p>
<p>
Playgrounds:
</p>
<p>
<div id="playgrounds">

		<%= render @playgrounds %>
	
</div>
</p>
<p>
<%= button_to 'Go!', new_q_response_path, method: :get %>
</p>
<p>Debug:</p>
	Playground: <%= session[:playground_id] %>
	Player: <%= @player.id %>	
</p>