<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class = "grid_12">
	<h1>Welcome to the game board!</h1>
</div> 

<div class = "grid_4">
	Players:	
		<div id = "players" class="players">
			<%= render @players %>
		</div>
</div>
	
<div class = "grid_3">
	Playgrounds:
	<div id="playgrounds">
	
			<%= render @playgrounds %>
		
	</div>

</div>
<div class = "grid_5" id="question_pane">
</div>

<div class = "grid_12">
	<hr>
</div>
<div class = "grid_12">
	<div id = "login">
		<%= form_tag("/login", :method => "post") do %>
		<%= label_tag(:name, 'Name:') %>
	  	<%= text_field_tag(:name) %>
	  	<%= label_tag(:password, 'Password:') %>
	  	<%= password_field_tag(:password) %>
	  	<%= submit_tag("Log In") %>
		<% end %>
	</div>
	
	<div class = "grid_12">
		<hr>
	</div>
	
	<div class = "grid_12">
		<div id = "bin">
			Garbage
		</div>
	</div>

	<div class = "grid_12">
		Playground: <%= session[:playground_id] %>
		Player: <%= session[:player_id] %>	
	
	<div id="state">
		State
	</div>
	<div id = "debug_pg">
		Playground
	</div>
	
	</div>
</div>