<p id="notice"><%= notice %></p>

<p>
  <div>Playground:<%= @playground.id %></div>
  <div>Question:<%= session[:qid] %></div>
  <div>Answer:<%= @question.number_response %></div>
  
<table>
    <div id="playground">
	
	<%= render (@playground.game_players) %>
	
	</div>
</table>

</p>
<div>
Responses:<%= @playground.q_responses.count %>
</div>
<%= link_to 'Edit', edit_playground_path(@playground) %> |
<%= link_to 'Back', playgrounds_path %>
