<h1>Contest#index</h1>
<p>Question:<%= @question.id %></p>
<div><%= @question.stimulus %></div>
<div>
<%= form_tag(@playground, :method => "put") do %>
	<fieldset>
		<legend>Please enter your answer</legend>
		<div>
			<%= label_tag :answer, 'Answer' %>
			<%= text_field_tag :answer %>
		</div>
		<div>
			<%= submit_tag "Submit"%>
		</div>
	</fieldset>	
<% end %>
</div>
<div>
		<%= session[:player_id]%>
		<%=@playground.id%>

</div>
<div>
	Playground already has game_players
	game_player has player and playground
	Migrate player:
		player.response
		player.time 
		player.correct
	
	Needs to: mark and time response
		- send to playground controller as update (put)
		- store player mark and time in player
		- if both results are present then decide winner and adjust rank
		- display feedback in playground
		- link back to main window	
</div>