<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Games:</b>
  <%= @player.games %>
</p>

<p>
  <b>Wins:</b>
  <%= @player.wins %>
</p>

<p>
  <b>Inarow:</b>
  <%= @player.inarow %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
