<%= form_for @q_response, :remote => true do |f| %>
  <% if @q_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@q_response.errors.count, "error") %> prohibited this q_response from being saved:</h2>

      <ul>
      <% @q_response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center>
  <div class="field">
    	<%= f.number_field :q_time, :hidden => true, :size => 3 %>
  </div>
  <div style="height:20px"></div>
  <div class="field">
  Answer: <%= f.number_field :number_response, :size => 5, :style => "text-align: right" %>
  </div>
  <div style="height:20px"></div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  </center>
<% end %>
